#my-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

li {
    list-style: none;
}

#etiquetas {
    display: block;
    margin-bottom: 5px;
}

class="campo" {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-enviar {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ccc;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

